@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?un79tu');
  src:  url('fonts/icomoon.eot?un79tu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?un79tu') format('truetype'),
    url('fonts/icomoon.woff?un79tu') format('woff'),
    url('fonts/icomoon.svg?un79tu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sold:before {
  content: "\e909";
}
.icon-upload:before {
  content: "\e90c";
}
.icon-edit:before {
  content: "\e90a";
}
.icon-microphone:before {
  content: "\e90b";
}
.icon-leftarrow:before {
  content: "\e900";
}
.icon-rightarrow:before {
  content: "\e908";
}
.icon-imagenotfound:before {
  content: "\e907";
}
.icon-download:before {
  content: "\e906";
}
.icon-forbidden:before {
  content: "\e904";
}
.icon-warning:before {
  content: "\e905";
}
.icon-magnifier:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e901";
}
.icon-trashcan:before {
  content: "\e902";
}

